body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto; 
    overflow: hidden;
}

.sidebar1 {
    float: left;
    width: 30%;
    background-color: #93A5C4;
    padding-bottom: 10px;
}
.content {
    padding: 10px 0;
    width: 45%;
    float: left;
}
.sidebar2 {
    float: left;
    width: 25%;
    background-color: #93A5C4;
    padding: 10px 0;
}body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto; 
    overflow: hidden;
}

.sidebar1 {
    float: left;
    width: 30%;
    background-color: #93A5C4;
    padding-bottom: 10px;
}
.content {
    padding: 10px 0;
    width: 45%;
    float: left;
}
.sidebar2 {
    float: left;
    width: 25%;
    background-color: #93A5C4;
    padding: 10px 0;
}body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto; 
    overflow: hidden;
}

.sidebar1 {
    float: left;
    width: 30%;
    background-color: #93A5C4;
    padding-bottom: 10px;
}
.content {
    padding: 10px 0;
    width: 45%;
    float: left;
}
.sidebar2 {
    float: left;
    width: 25%;
    background-color: #93A5C4;
    padding: 10px 0;
}body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto; 
    overflow: hidden;
}

.sidebar1 {
    float: left;
    width: 30%;
    background-color: #93A5C4;
    padding-bottom: 10px;
}
.content {
    padding: 10px 0;
    width: 45%;
    float: left;
}
.sidebar2 {
    float: left;
    width: 25%;
    background-color: #93A5C4;
    padding: 10px 0;
}body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto; 
    overflow: hidden;
}

.sidebar1 {
    float: left;
    width: 30%;
    background-color: #93A5C4;
    padding-bottom: 10px;
}
.content {
    padding: 10px 0;
    width: 45%;
    float: left;
}
.sidebar2 {
    float: left;
    width: 25%;
    background-color: #93A5C4;
    padding: 10px 0;
}body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto; 
    overflow: hidden;
}

.sidebar1 {
    float: left;
    width: 30%;
    background-color: #93A5C4;
    padding-bottom: 10px;
}
.content {
    padding: 10px 0;
    width: 45%;
    float: left;
}
.sidebar2 {
    float: left;
    width: 25%;
    background-color: #93A5C4;
    padding: 10px 0;
}